---
import Layout from "../layouts/Layout.astro";


---
<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white texrt-3xl text-cente">Esta pagina no existe</h1>
        
    </div>    
</Layout>