---
import Layout from "../layouts/Layout.astro";


---
<Layout title="About the project">
    <article class="flex flex-col items-center justify-center ">
        <h1 class="text-white font-bold text-5xl  ">
            This project was developed based on a tutorial to understand key concepts of astro js
        </h1>
    </article>
</Layout>